@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>SMAPP</h1>
    <p class="lead">SMAPP.info an app that can manage your sponsors in a very safe way . </p>
    <p><a href="#" class="btn btn-primary btn-lg">Explore &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Tutorial Page</h2>
        <p>Here you can find the details about how to use SMAPP </p>
        <p><a class="btn btn-default" href="#">Learn more »</a></p>
    </div>
</div>